.checkoutProduct{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white  ;
   
}
.chckeoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__info{
    padding-left: 20px;
}
.checkoutProduct__rating{
    margin-top: 10px;
    display: flex;
    margin-bottom: 7px;
}

.checkoutProduct__info > button{
    width: 180px;
    align-self: center;
    background-color: #f0c14b;
    border:1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}