.product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;  
    width: 100%;
    /* max-height: 400px; */
    min-width: 100px;
    
    background-color:white;

    z-index: 1;
}


.product__info{
    height: 100px;
    margin-bottom: 15px;
}
.product__rating{
    display: flex;
    margin-bottom: 10px;
}

.product > img {
    max-height: 200px;
    width:100%; 
    
    /* max-width: 50vw; */
    /* width:50%; */
    
    object-fit: contain;
    margin-bottom: 20px ;
    
    
}
.product__price{
    margin-top: 5px;
}



.product > button{
    width: 100px;
    align-self: center;
    background-color: #f0c14b;
    border:1px solid;
    border-color: #a88734 #9c7e31 #846a29;


}